<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jalapeno Orders</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to Jalapeno</h1>
    </header>

    <nav>
        <a href="/">HOME / CURRENT ORDERS</a>
        <a href="/order-history">ORDER HISTORY</a>
        <a href="/search-orders">SEARCH ORDERS</a>
    </nav>

    <main>     
    {{{body}}}
    </main>

    <footer>
        <p>&copy; Jalapeno 2023</p>
    </footer>
</body>
</html>